body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}
h1{
    color:hsl(226, 97%, 49%);
}

form{
    background-color:hsl(207, 76%, 18%);
}